@font-face {
  font-family: 'JuliusSansOne-Regular';
  src: url(../fonts/JuliusSansOne-Regular.ttf);
}
@font-face {
  font-family: 'KohSantepheap-Light';
  src: url(../fonts/KohSantepheap-Light.ttf);
}
@font-face {
  font-family: 'Malgun-Gothic-Semilight';
  src: url(../fonts/Malgun-Gothic-Semilight.ttf);
}
@font-face {
  font-family: 'Quattrocento-Regular';
  src: url(../fonts/Quattrocento-Regular.ttf);
}